@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="page-wrapper">
    <div class="row">
        <div class="container">
            <div class="col my-5"><h1 class="text-danger">Access Denied.</h1></div>
        </div>
    </div>
</div>
